@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* font-family: raleway; */
    outline: none;
    user-select: none;
}
:root{
    --main-color: #343434;
    --main-color-2:#23ADD9;
    --color-white: #fff;
    --main-color-3: #171717;
    --main-color-4: #5f5d5d7a;
    --main-color-orange: #F16711;
    --main-color-blue: #0F5A80;
    --main-color-pink: #7900C2;

}
::selection{
    background: var(--main-color-2);
    color: var(--color-white);
}
::-webkit-scrollbar{
    width: 8px;
    color:var(--main-color-2);
    transition: all .4s ease;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color-2);
    width: 4px;
    transition: all .4s ease;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background: var(--main-color);
    width: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
html{
    background: var(--main-color-3);
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background: var(--main-color);
}
.cursor{
height: 50px;
width: 50px;
display: block;
border-radius: 50%;
border: 1px solid var(--color-white);
background: transparent;
pointer-events: none;
position: fixed;
top: -25px;
left: -25px;
z-index: 10;
opacity: .6;
transition:  scale .5s ease;
}
/* start style page home  */
ul{
    /* text-align: center; */
    list-style: none;
}
a{
    text-decoration: none;
    text-align: start;
}
/* start style header (navbar) */
.navbar{
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
}
.navbar .logo img{
    transition: all 0.5s;
}
.navbar .logo img:hover{
    transform: rotate(-70deg);
}
@media(min-width: 1000px){
    .navbar{
        background: var(--main-color);
        position: relative;
        width: 100%;
        height: 100px;
        /* text-align: start; */
        display: flex;
        align-items: center;
    }
    .navbar .container{
        width: 95%;
        margin: 0 auto;
        text-align: start;
    }
    .navbar .logo{
        width: 100px;
    }
    .navbar .logo img{
        width: 100%;
    }
    .navbar #navigation-bar{
        display: none;
    }
    .navbar .navigation-close{
        display: none;
    }
    .navbar #navigation-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: start;
    }
    .navbar .navigation-links ul{
        display: flex;
        align-items: center;
        justify-content: center;
        /* position: relative; */
        text-align: start;
    }
    .navbar .navigation-links ul li{
        position: relative;
        text-align: start;
    }
    .navbar .navigation-links ul a{
        color: var(--color-white);
        /* margin: 0 15px; */
        padding: 7px 20px;
        display: block;
        border-bottom: 1px solid transparent;
        transition: all 0.3s;
        text-align: start;
    }
    .navbar .navigation-links ul a:hover{
        color: var(--main-color-2);
        border-bottom: 1px solid var(--main-color-2);
    }
    .navbar .navigation-links ul .language{
        display: block;
        border-radius: 5px;
        /* line-height: 30px; */
        padding: 10px 20px;
        border: 1px solid var(--color-white);
        font-size: 16px;
    }
    .navbar .navigation-links ul .language:hover{
        border-color: var(--main-color-2);
    }
    .links-dro{
        background: var(--main-color);
        color: var(--color-white);
        display: flex;
        align-items: start;
        justify-content: start;
        text-align: start;
        flex-direction: column;
        position: absolute;
        min-height: 0;
        max-height: 0;
        overflow: hidden;
        /* transition: all 0.5s; */
        left: -45px;
        top: 30px;
        width: 200px;
        margin: 0 auto;
    }
    .navbar .navigation-links ul .links-dro a:hover{
        border-bottom: 1px solid transparent;
    }
    .drow:hover .links-dro,
    .drow:focus .links-dro{
        min-height: 100px;
        max-height: 600px;
        transition: all 0.5s;
    }
}
.navbar .navigation-links ul li select{
    background: transparent;
    color: var(--color-white);
    outline: none;
    padding: 8px 15px;
    cursor: pointer;
}
.navbar .navigation-links ul li select:focus,
.navbar .navigation-links ul li select:hover {
    outline: none;
    border-color: var(--main-color-2);
    box-shadow: 0 0 0 0.2rem rgba(236, 79, 71, 0.349);
}
.navbar .navigation-links ul li select option {
    padding: 10px;
    background-color: var(--main-color);
    font-size: 16px;
}

.navbar .navigation-links ul li select option:hover {
    background-color: var(--main-color-2);
}
.navbar .navigation-links ul li select option::selection{
    background-color: var(--main-color-2);
}
.navbar .navigation-links ul li select option:checked {
    background-color: var(--main-color-2);
    color: var(--color-white);
}
.drow a{
    cursor: pointer;
}
@media(max-width: 1000px){
    .navbar .navigation-links ul li select{
        padding: 8px 60px;
    }
    .cursor{
        display: none;
    }
    ul{
        text-align: center;
    }
#navigation-content{
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 5;
    background-color:var(--main-color);
    transform: translateY(-200%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: start;
}
#navigation-bar{
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 3;
    padding: 10px;
    background-color:var(--main-color);
    overflow-y: auto;
}
.menubar{
    position: absolute;
    right:4%;
    top: 40%;
    cursor: pointer;
    opacity: .8;
    transition: all .4s ease;
}
.menubar span{
    position: relative;
    background-color:transparent;
    height:2px;
    width: 20px;
    display: block;
    margin:6px;
    border-radius: 20px;
}
.menubar .first-span{
    width:35px;
}
.menubar .first-span::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top:0;
    right:0;
    background-color:var(--color-white);
    transition: all .5s ease;

}
.menubar .second-span{
    width:35px;
}
.menubar .second-span::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 75%;
    top:0;
    right:0;
    background-color:var(--color-white);
    transition: all .3s ease;
}
.menubar .third-span{
    width:35px;
}
.menubar .third-span::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    right:0;
    background-color:var(--color-white);
    transition: all .3s ease;
}
.menubar:hover .second-span::before , .menubar:hover .first-span::before {
    width: 100%;
}
.menubar:hover{
    opacity: 1;
}
.close-first , .close-second{
 height: 2px;
 width: 35px;
 background-color: var(--color-white);
 display: block;
 margin: 4px;
 cursor: pointer;
 padding: 1px;
 border-radius: 20px;
}
.close-first {
    transform: rotate(45deg);
}
.close-second{
    transform: rotate(-45deg);
}
.navigation-close{
    position: absolute;
    top: 6%;
    right:4%;
    padding: 10px;
    cursor: pointer;
    transition: all.3s ease;
    opacity: .8;
}
.navigation-close:hover{
    opacity: 1;
    transform: rotate(90deg);
}
.logo img{
    height: 80px;
    position: absolute;
    top: 3%;
    left: 2.5%;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
    transition: all .4s ease;
}
.logo img:hover{
    opacity: 1;
}
#navigation-bar img{
    height: 80px;
    position: absolute;
    ;
    top: 15%;
    left: 2.5%;
    opacity: .8;
    transition: all .4s ease;
}
#navigation-bar img:hover{
    opacity: 1;
}
.header-image img{
    height: 100vh;
    float: right;
}
.header-image{
    float: right;
    height: auto;
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 100vh;

}
.header-content{
    height: 100vh;
    width: 100%;
    float: left;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-family: raleway;
    font-weight: 400;
    letter-spacing: 1px;
    flex-direction: column;
    font-size: 50px;
    z-index: 1;
}
.header-content-box{
    z-index: 2;
    text-align: center;
    height: auto;
    padding-right: 60px;
    width: auto;

}
.header-content .firstline{
    z-index: 2;
    font-weight:700;
    font-family: poppins;
    font-size: 65px;
}
.header-content .secondline{
    z-index: 2;
    font-size: 30px;
    padding-top:20px ;
    font-weight:500;
    color: rgb(255, 255, 255,.8);
}
.slash{
    animation-name: animateslash;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes animateslash{
    0%{
        opacity: 1;
        z-index: 2;
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}
@-webkit-keyframes animateslash{
    0%{
        opacity: 1;
        z-index: 2;
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}
.navigation-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:poppins;
    width: 100vw;
    position: absolute;
    top: 100px;
}
.navigation-links ul{
    width: 100%;
}
.navigation-links a{
    display: block;
    padding:15px 0;
    text-decoration: none;
    color: var(--color-white);
    font-size: 20px;
    opacity: .7;
    transition: all .4s ease;
    text-align: center;
}
.navigation-links a:hover{
    opacity: 1;
}
.navigation-links a::before{
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%,-50%);
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: monoton;
    color:rgb(255, 255, 255,.1);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: all .4s ease;
}
.navigation-links a:hover::before{
    content: attr(data-text);
    opacity: 1;
    letter-spacing: 10px;
}
.navigation-links li{
    width: 100%;
}
.links-dro{
    width: 100%;
    background: var(--main-color-4);
    min-height: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.links-dro a{
    padding: 4px 0;
}
.navbar .navigation-links ul .links-dro a:hover{
    border: none;
}
.drow:hover .links-dro,
.drow:focus .links-dro{
    min-height: 100px;
    max-height: 600px;
    transition: all 0.5s;
}

}
.slider{
    height: calc(100vh - 100px);
    overflow: hidden;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
}
.slider .container{
    width: 450px;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    padding: 40px 0;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
}
.title h2{
    font-size: 50px;
    margin: 10px 0;
    color: var(--color-white);
    font-weight: bold;
}
.title p{
    width: 100%;
    font-size: 18px;
    margin: 10px 0;
    color: var(--main-color-orange);
    letter-spacing: 2px;
}
@media(max-width: 1000px){
    .slider{
        height: 100vh;
        top: 100px;
    }
    .slider .container{
        width: 100%;
        top: 25%;
    }
    .title h2{
        font-size: 35px;
    }
    .title p{
        width: 80%;
        font-size: 16px;
        font-weight: 100;
        margin: 10px auto;
    }
}
#particles{
    height: 100%;
    width: 100%;
}
/* strat style section services  */
.services{
    padding: 40px 0;
    text-align: center;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.services .feat{
    width: 90%;
    margin: 30px auto;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}
.services .feat .div-img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.services .feat .div-img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
.services .feat .div-text{
    color: var(--color-white);
    padding: 10px;
}
.services .feat .div-text h4{
    font-size: 25px;
    font-weight: 200;
}
.services .feat .div-text p{
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    color: #ddd;
}
.services .feat:hover img{
    transform: scale(1.1);
}
#myBtn{
    padding: 10px;
    background: var(--main-color-2);
    transition: all 0.3s;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: var(--color-white);
}
/* start section our-business */
.our-business{
    text-align: center;
    padding: 40px 0;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
}
.our-business .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: 20px 0;
}
.our-business .feat{
    width: 90%;
    margin: 30px auto;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.our-business .feat .div-img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
}
.our-business .feat .div-img img{
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}
.our-business .feat:hover img{
    transform: scale(1.1);
}
.our-business .feat .div-text{
    color: var(--color-white);
    padding: 20px;
    text-align: start;
}
.our-business .feat .div-text h4{
    font-size: 30px;
    font-weight: 300;
}
.our-business .feat .div-text p{
    font-size: 16px;
    font-weight: 100;
    color: #ddd;
}
.our-business .feat .div-text a{
    float: right;
}
@media(max-width: 1000px){
    .our-business .container{
        display: block;
    }
    .our-business .feat{
        width: 90%;
        margin: 10px auto;
    }
}
.btn{
    background: #aaaa;
    display: inline-block;
    padding: 12px 20px;
    margin: 10px 0;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: var(--color-white);
}
.btn:hover{
    opacity: 0.7;
}
.btn-orange{
    background: var(--main-color-orange);
}
.btn-pink{
    background: var(--main-color-pink);
}
.btn-blue{
    background: var(--main-color-2);
}
.btn-blue-2{
    background: var(--main-color-blue);
}
#myBtn:hover{
    background: var(--main-color-blue);
}

/* start style section our teams  */
.our-teams{
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);   
    text-align: center;
    padding: 40px 0;
}
.our-teams .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.our-teams .feat{
    width: 90%;
    margin: 30px auto;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.our-teams .feat .div-img{
    width: 100%;
    height: 350px;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.our-teams .feat .div-img img{
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.our-teams .feat:hover img{
    transform: scale(1.1);
}
.our-teams .feat .div-text{
    color: var(--color-white);
    padding: 40px 0;
}
.our-teams .feat .div-text h4{
    font-size: 25px;
}
.our-teams .feat .div-text span{
    letter-spacing: 2px;
    font-weight: 200;
    color: var(--main-color-2);
}
.our-teams .feat .div-text ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.our-teams .feat .div-text ul a{
    color: var(--main-color-2);
    display: inline-block;
    margin: 10px;
    font-size: 25px;
}
.our-teams .feat .div-text ul a:hover{
    color: var(--main-color-blue);
}
@media(max-width: 1000px){
    .our-teams .container{
        display: block;
    }
    .our-teams .feat .div-img{
        height: 300px;
    }
}
/* start section Create an order */
.create-order{
    padding: 40px 0;
    text-align: center;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
}
.create-order .form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-order .form div{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.create-order form div input{
    display: block;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 20px;
    width: 100%;
}
.create-order form div input::placeholder{
    color: var(--main-color-2);
}
.create-order form div textarea{
    width: 100%;
    height: 200px;
    display: block;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 12px;
    resize: none;
}
.create-order form button{
    width: 33%;
    display: block;
    margin: 10px auto;
}
@media(max-width: 1000px){
    .create-order .form{
        flex-direction: column;
    }
}
/* start section social-media */
.social-media{
    padding: 40px 0;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}
.social-media ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.social-media ul a{
    color: var(--color-white);
    background: var(--main-color-2);
    transition: all 0.3s;
    padding:12px 40px;
    font-size: 25px;
    border-radius: 5px;
    margin: 20px 10px;
    display: block;
}
.social-media ul a:hover{
    background: var(--main-color-blue);
}
@media(max-width: 1000px){
    .social-media ul{
        flex-direction: column;
    }   
    .social-media ul a{
        padding:12px 100px;       
    }
}
/* start footer  */
.footer {
    padding: 40px 0;
}
.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.footer .feat{
    width: 100%;
}
.footer .feat img{
    width: 100px;
}
.footer .feat p{
    width: 90%;
    color: var(--color-white);
    font-weight: 100;
    font-size: 14px;
    line-height: 2;
}
.footer .feat p+ul{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 20px 0;
}
.footer .feat p+ul a{
    color: var(--main-color-2);
    margin-right: 20px;
    font-size: 25px;
}
.footer .feat p+ul a:hover{
    color: var(--main-color-blue);
}
.footer .feat .div-right{
    float: right;
}
.footer .feat .div-right h3{
    font-size: 30px;
    color: var(--color-white);
}
.footer .feat .div-right ul a{
    color: #ddd;
    margin: 10px 0;
    display: block;
    transition: all 0.4s;
}
.footer .feat .div-right ul a:hover{
    padding-left: 20px;
    color: var(--main-color-2);
}
.footer .div-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    color: var(--color-white);
}
.footer .div-bottom a{
    color: var(--main-color-2);
}
.footer .div-bottom a:hover{
    color: var(--main-color-blue);
}
@media(max-width: 1000px){
    .footer .container{
        flex-direction: column;
    }   
    .footer .feat .div-right{
        float: left;
    }
}
#loader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    position: fixed;
    z-index:100;
    font-family: poppins;
    background-color: var(--main-color);
    color: var(--color-white);
    font-size: 70px;
    width: 100%;
}
#loader>span{
    color: var(--main-color-2);
    font-weight: 100;
    font-size: 35px;
    margin: 20px 0;
}
.loader {
width: 48px;
height: 48px;
border: 3px dotted var(--color-white);
border-style: solid solid dotted dotted;
border-radius: 50%;
display: inline-block;
position: relative;
box-sizing: border-box;
animation: rotation 2s linear infinite;
}
.loader::after {
content: '';  
box-sizing: border-box;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
border: 3px dotted var(--main-color-2);
border-style: solid solid dotted;
width: 24px;
height: 24px;
border-radius: 50%;
animation: rotationBack 1s linear infinite;
transform-origin: center center;
}

@keyframes rotation {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
} 
@keyframes rotationBack {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(-360deg);
}
} 
@media(max-width: 1000px){
    #loader{
        text-align: center;
    }
    #loader .text{
        font-size: 20px;
        width: 90%;
        margin: 0 auto;
    }   
}